@import "./reset.css";
@import "./fonts/fonts.css";

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1028px;
}

.header {
    height: 61px;
    padding-top: 46px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo_img {
    width: 53px;
    height: 47px;
    fill: currentColor;
}

.logo:hover {
    color: #F26522;
}

.feedback {
    display: flex;
    height: 61px;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    }

.mail a, .phone a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
}

.mail a:hover, .phone a:hover {
    color: #F26522;
}

.main_screen {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: 261px;
    grid-gap: 37px 54px;
    text-align: center;
    width: 1028px;
}

.cards_text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
}

.tours_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tours_cards:hover .cards_text {
    color: #F26522;
}

.Shopping_Tours_bg, .Sightseeing_Tours_bg, .Food_Tours_bg, .Bars_Nightlife_bg, .Art_Architecture_bg, .Walking_Tours_bg {
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    border: 2px;
    border-style: none groove ;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;
}

.Shopping_Tours_bg {
    background-image: url("./img/Shopping_Tours.png");
}

.Sightseeing_Tours_bg {
    background-image: url("./img/Sightseeing_Tours.png");
}

.Food_Tours_bg {
    background-image: url("./img/Food_Tours.png");
}

.Bars_Nightlife_bg {
    background-image: url("./img/Bars_Nightlife.png");
}

.Art_Architecture_bg {
    background-image: url("./img/Art_Architecture.png");
}

.Walking_Tours_bg {
    background-image: url("./img/Walking_Tours.png");
}

.cards_bg_hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -58px;
    background-color: #F26522;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 12px;
    text-align: start;
    transition: 2s;
}

.tours_cards:hover .cards_bg_hover {
    bottom: 0;
}

.cards_hover_text {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.cards_hover_price {
    font-size: 20px;
    line-height: 20px;
}

.cards_hover_details {
    padding-left: 128px;
    font-size: 14px;
    line-height: 14px;
}

.cards_hover_details::after {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    border-color: #FFF;
    border-right: 1px solid;
    border-top: 1px solid;
    transform: rotate(45deg);
    width: 7.5px;
    height: 7.5px;
    margin-left: 16px;
}

.footer {
    margin-top: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
    text-align: center;
}
